streamlit
langchain
langchain-community
langchain-groq
faiss-cpu
transformers
sentence-transformers
huggingface-hub
gtts
pygame
speechrecognition
pyaudio ; platform_system == "Windows"
audio_recorder_streamlit
scikit-learn
matplotlib
