streamlit
langchain
langchain-community
langchain-groq
faiss-cpu
transformers
sentence-transformers
huggingface-hub
gtts
speechrecognition
audio_recorder_streamlit
scikit-learn
matplotlib
beautifulsoup4
requests
